{% extends 'base.html.twig' %}
{% block title %}
    Mission Manager
{% endblock %}
{% block body %}
    {% set notices = app.session.flashbag.get('notice') %}
    {% for msg in notices %}
        <p style="color:red">{{ msg }}</p>
    {% endfor %}
    {% if notices is not empty %}
        <hr/>
    {% endif %}
    <p><a href="{{ path('missionlist') }}">Back to the LIST page</a></p>
    {% block missionbody %}
    {% endblock %}
{% endblock %}