{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    <h1>REGISTER</h1>
    <form action="{{ path('register') }}" method="post">
        <label>
            Soldier:<input type="checkbox" name="_role" checked="checked"/>
        </label><br>
        <label>
            Username:<input type="email" name="_username"/>
        </label><br>
        <label>
            Password:<input type="password" name="_password" />
        </label><br>
        <button type="submit">REGISTER</button>
    </form>
    <button onclick="location.href='{{ path('login') }}';">Login</button>
    <button onclick="location.href='{{ path('home') }}';">Main page</button>
{% endblock %}